<%= form_with model: @order do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :message %><br>
    <%= form.text_field :message %>
  </div>

  <div>
    <%= form.label :avatar %><br>
    <%= form.file_field :avatar, direct_upload: true %>
  </div>

  <%= form.submit %>
<% end %>
